# This workflow will run the Chef agent periodically and dump a proposed menu plan for the week.

name: Chef Workflow

on:
  # Manual workflow
  workflow_dispatch:

# Permissions for the workflow
permissions:
  contents: write  # To create branches and commit changes
  pull-requests: write  # To create pull requests

# Workflow jobs
jobs:
  # Prepare the menu plan
  cooking:
    # Run on GH hosted Ubuntu runner
    runs-on: ubuntu-latest

    # Environment variables
    env:
      # Token for Copilot
      COPILOT_GITHUB_TOKEN: ${{ secrets.COPILOT_GITHUB_TOKEN }}  # GitHub Copilot token
      # GitHub token for GH CLI commands. Using the default workflow token. 
      # Additionally, permissions in settings/actions/Workflow permissions must be enabled to allow GH actions to create PRs.
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
      # Copilot model to use
      COPILOT_MODEL: gpt-4.1

    # Steps of the job
    steps:
    # Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

    # Setup Node.js environment for GH Copilot CLI installation in next steps
    - name: Setup Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
      with:
        node-version: '>=22'

    # Install GH Copilot CLI
    - name: Install GitHub Copilot CLI
      run: npm i -g @github/copilot

    # Setup Git config
    - name: Setup Git config
      run: |
        echo "Setting up git config"
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

    # Create feature branch
    - name: Create feature branch
      shell: bash
      run: |
        # Propagate errors and exit in case of failure
        set -euo pipefail

        # Tell Copilot to create a new feature branch
        echo "Creating feature branch"
        copilot --model=${{ env.COPILOT_MODEL }} --allow-all-tools --prompt "Create a new feature branch with the syntax 'feature/menu-plan-YYYYMMDD-TS' where YYYYMMDD is today's date in year month day format and TS is the current timestamp in milliseconds."
        echo "New branch successfully created."

    # Get weekly menu plan and push changes to new feature branch if succeeded
    - name: Get weekly menu plan
      id: get_menu_plan
      shell: bash
      run: |
        # Propagate errors and exit in case of failure
        set -euo pipefail

        # Tell Copilot to generate the weekly menu plan
        echo "Getting weekly menu plan"
        git status  # View the current branch
        GENERATED_PLAN=$(copilot --model=${{ env.COPILOT_MODEL }} --agent=chef --allow-all-tools --prompt "Provide a new menu plan, please")
        echo "Menu plan generated successfully. Pushing changes."

        # Save plan for further outputs
        echo "$GENERATED_PLAN" >> $GITHUB_STEP_SUMMARY
        
        # This to avoid issues with multiline outputs
        echo "GENERATED_PLAN<<EOF" >> $GITHUB_OUTPUT
        echo "$GENERATED_PLAN" >> $GITHUB_OUTPUT
        echo "EOF" >> $GITHUB_OUTPUT
        
        # # Commit and push changes
        # git add MENU_PLAN_*.md
        # git commit -m "Add weekly menu plan"
        # git push origin HEAD

    # Create Pull Request
    # - name: Create Pull Request
    #   shell: bash
    #   run: |
    #     # Propagate errors and exit in case of failure
    #     set -euo pipefail

    #     # Create a Pull Request using GH CLI
    #     echo "Creating Pull Request"
    #     gh pr create --base main --title "Weekly Menu Plan" --body $'This PR contains the proposed menu plan for the week generated by the Chef agent:\n\n${{ steps.get_menu_plan.outputs.GENERATED_PLAN }}'
