# This workflow will run the Chef agent periodically and dump a proposed menu plan for the week.

name: Chef Workflow

on:
  # Manual workflow
  workflow_dispatch:

# Permissions for the workflow
permissions:
  contents: write  # To create branches and commit changes
  pull-requests: write  # To create pull requests

# Workflow jobs
jobs:
  # Prepare the menu plan
  cooking:
    # Run on GH hosted Ubuntu runner
    runs-on: ubuntu-latest

    # Environment variables
    env:
      # Token for Copilot
      COPILOT_GITHUB_TOKEN: ${{ secrets.COPILOT_GITHUB_TOKEN }}  # GitHub Copilot token
      # GitHub token for GH CLI commands. Using the default workflow token. 
      # Additionally, permissions in settings/actions/Workflow permissions must be enabled to allow GH actions to create PRs.
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
      # Copilot model to use
      COPILOT_MODEL: gpt-4.1

    # Steps of the job
    steps:
    # Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

    # Setup Node.js environment for GH Copilot CLI installation in next steps
    - name: Setup Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
      with:
        node-version: '>=22'

    # Install GH Copilot CLI
    - name: Install GitHub Copilot CLI
      run: npm i -g @github/copilot

    # Setup Git config
    - name: Setup Git config
      run: |
        echo "Setting up git config"
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

    # Create feature branch
    - name: Create feature branch
      shell: bash
      run: |
        echo "Creating feature branch"
        copilot --model=${{ env.COPILOT_MODEL }} --allow-all-tools --prompt "Create a new feature branch with the syntax 'feature/menu-plan-YYYYMMDD-TS' where YYYYMMDD is today's date in year month day format and TS is the current timestamp in milliseconds." >> branch-creation-output.txt
        if grep -q "I was unable to create the new branch" branch-creation-output.txt; then
          echo "Failed to create branch."
          exit 1
        fi
        rm -f branch-creation-output.txt

    # Get weekly menu plan and push changes to new feature branch if succeeded
    - name: Get weekly menu plan
      shell: bash
      run: |
        echo "Getting weekly menu plan"
        git status
        copilot --model=${{ env.COPILOT_MODEL }} --agent=chef --allow-all-tools --prompt "Provide a new menu plan, please" >> $GITHUB_STEP_SUMMARY
        if grep -q "The menu plan has also been saved to" $GITHUB_STEP_SUMMARY; then
          echo "Menu plan generated successfully. Pushing changes."
          git add MENU_PLAN_*.md
          git commit -m "Add weekly menu plan"
          git push origin HEAD
          echo "GENERATED_PLAN=$GITHUB_STEP_SUMMARY" >> "$GITHUB_OUTPUT"
        else
          echo "Failed to generate menu plan."
          exit 1
        fi

    # Create Pull Request
    - name: Create Pull Request
      shell: bash
      run: |
        echo "Creating Pull Request"
        gh pr create --base main --title "Weekly Menu Plan" --body "This PR contains the proposed menu plan for the week generated by the Chef agent:\n\n${{ steps.cooking.outputs.GENERATED_PLAN }}"
